//HOMEPAGE SCSS

/*
    =========
    MAIN
    =========
*/

/* 
    =============
    INTRODUCTION 
    =============
*/

.landing-page {
    .hero {
        background-color: $secondary-bg;
        height: 600px;
        &-content {
            @include container-fluid;
            &-centered {
                padding-top: auto !important;
            }
        }
    }
}


